{{#if editing}}
    {{input class="edit" value=todo.descricao enter="submitTodo" focus-out="cancelEdit"}}
{{else}}
    {{input type="checkbox" checked=todo.concluido class="toggle"}}
	<label class="{{if todo.concluido 'completed'}}"
	{{action "editTodo" on="doubleClick"}}>{{todo.descricao}}
	</label>
	<button class="destroy" {{action "deleteTodo"}}></button>  
{{/if}}
