<section id="main">  
    {{yield}}

    {{input type="checkbox" id="toggle-all" checked=allAreDone }}
</section>

<footer id="footer">  
    <span id="todo-count">
        <strong>{{remaining}}</strong> {{inflection}} 
    </span>
    <ul id="filters">
        <li>
        	{{#link-to "todos.index" activeClass="selected"}}
        		Todos
        	{{/link-to}}
        </li>
        <li>
        	{{#link-to "todos.ativos" ativeClass="selected"}}
        		Ativos
        	{{/link-to}}
        </li>
        <li>
	        {{#link-to "todos.concluidos" ativeClass="selected"}}
	        	Concluidos
	        {{/link-to}}
        </li>
    </ul>

    
        {{#if hasCompleted}}
            <button id="clear-completed" {{action "clearCompleted"}}>
                Limpar concluidos ({{completed}})
            </button>
        {{/if}}
    
</footer>  